# XML Agent Toolkit log4j configuration file.
# *ONLY* modify the APPENDERS and CATEGORY section
# if you are familiar with log4j configuration

#
# APPENDERS section
#

# 
# A1 - a console appender
log4j.appender.A1=org.apache.log4j.ConsoleAppender
log4j.appender.A1.layout=org.apache.log4j.PatternLayout

# the appender threshold will override the settings used
# by any category using the appender
# log4j.appender.A1.Threshold=DEBUG
log4j.appender.A1.layout.ConversionPattern=%d [%p] %-20.30c{2} - %m%n

# A2 - a file appender
# Appender A2 writes to the specified file in txmhome .
log4j.appender.A2=org.apache.log4j.FileAppender
log4j.appender.A2.File=${NETE_TXM_ROOT}/tmxmltoolkit.log

# Append or Truncate option if the log file exists
log4j.appender.A2.Append=true

# Appender A2 uses the PatternLayout.
log4j.appender.A2.layout=org.apache.log4j.PatternLayout
log4j.appender.A2.layout.ConversionPattern=%d [%p] %c{3} %x - %m%n

#
# CATEGORY section
#
# fomat is:
# log4j.category.YourCategoryName= PriorityValue, AppenderName, ..., AppenderNameN
# where PriorityValue = DEBUG, INFO, WARN, ERROR, FATAL
#
# priorities are ordered as follows: DEBUG < INFO < WARN < ERROR < FATAL. 
# This means, for example, setting a priority of INFO means no DEBUG log statements will appear
# setting a priority of ERROR means no DEBUG, INFO, or WARN log statements will appear.
#
# AppenderName is a log4j.appender.AppenderName defined above (i.e. A1 or A2)

# 
# root category
# Attach appender A2 to root. Set root priority to INFO
# we explicitly set defaults for root in situations where toolkit add-on classes
# may not want to inherit settings from the toolkit category 'com.netegrity.b2' defined below
#
log4j.rootCategory=DEBUG, A2

#
# XML Agent toolkit top-level category
# Set the priority of the tm top-level category
# this setting defines the default log priority setting for all b2b categories that
# inherit from this top-level. 
log4j.category.com.netegrity.tm=DEBUG

#
# TOOLKIT CATEGORY section
#

#
# common
#
log4j.category.com.netegrity.tm.common.ClassFactory=DEBUG
log4j.category.com.netegrity.tm.common.ClassFactory.ConstructorMatch=DEBUG

#
# api
#
log4j.category.com.netegrity.tm.contenthelper.api.ContentHelperService=DEBUG
log4j.category.com.netegrity.tm.contenthelper.api.ServerVariablesResolver=DEBUG
log4j.category.com.netegrity.tm.contenthelper.api.AgentApiService=DEBUG

#
# handler services
#
log4j.category.com.netegrity.tm.contenthelper.handler.HandlerServiceManager=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.MessageHandlerService=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.VariableHandlerService=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.HandlerMessageContext=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.AuthenticationHandlerService=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.ResponseHandlerService=DEBUG

#
# contenthelper common
#
log4j.category.com.netegrity.tm.contenthelper.common.XPathHelper=DEBUG

#
# handlers
#

# message handlers
log4j.category.com.netegrity.tm.contenthelper.handler.message.HTTPTransportHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.message.SOAPEnvelopeHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.message.RawXMLPayloadHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.message.SOAPNodeListWrapper=DEBUG

# variable handlers
log4j.category.com.netegrity.tm.contenthelper.handler.variable.XMLHeaderVariableHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.variable.XMLBodyVariableHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.variable.TransportVariableHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.variable.SAMLAssertionVariableHandler=DEBUG

# authentication handlers
log4j.category.com.netegrity.tm.contenthelper.handler.authentication.DocumentMappedAuthHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.authentication.XMLDSIGAuthHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.authentication.SAMLSessionTicketAuthHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.authentication.WSSecuritySAMLAuthHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.authentication.WSSecurityUsernameAuthHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.authentication.WSSecurityX509AuthHandler=DEBUG

# response handlers
log4j.category.com.netegrity.tm.contenthelper.handler.response.SAMLSessionTicketResponseHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.response.XMLInserter=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.response.WSSecuritySAMLResponseHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.response.WSSecurityUsernameResponseHandler=DEBUG
log4j.category.com.netegrity.tm.contenthelper.handler.response.WSSecurityX509ResponseHandler=DEBUG

#
# helpers
#
log4j.category.com.netegrity.tm.contenthelper.helper.XMLContentHelper=DEBUG

# XML SDK IPC Service
log4j.category.com.netegrity.tm.ipc.service.xmlsdkserver.XmlSdkServer=DEBUG
log4j.category.com.netegrity.tm.ipc.service.xmlsdkserver.ConfigData=DEBUG
log4j.category.com.netegrity.tm.ipc.service.xmlsdkserver.XmlSdkDispatcherAndAssembler=DEBUG
log4j.category.com.netegrity.tm.ipc.IpcObject=DEBUG
log4j.category.com.netegrity.tm.ipc.XMLContentHelper_Ipc=DEBUG
log4j.category.com.netegrity.tm.ipc.ContentHelperService_Ipc=DEBUG
log4j.category.com.netegrity.tm.ipc.ServerVariablesResolver_Ipc=DEBUG




